@import url("./Button.css");
@import url("./Card.css");

/* ---- variable declartion ---- */
:root {
  --header-height-mobile: 80px;
  --header-height-pc: 120px;
}

/* ---- reset ---- */
body,
ul,
p,
button,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---- common ---- */
* {
  box-sizing: border-box;
}

button img {
  width: 100%;
  height: 100%;
}

/* ---- Base Rules ---- */
body {
  min-width: 360px;
  overflow-x: hidden;
}

/* Typeography General*/
* {
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 14px;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1,
h2 {
  font-family: "Bodoni Moda", serif;
}

/* ---- Layout Rules ---- */
main {
  min-width: 360px;
  margin-top: var(--header-height-mobile);
}

section {
  position: relative;
  padding: 50px 15px 80px;
}

@media screen and (min-width: 768px) {
  section {
    padding: 30px;
  }
}

/* ---- Module Rules ---- */

/* Header Styles */
.page__header {
  min-width: 360px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height-mobile);
  padding: 0 10px;
}

.page-header-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button-login {
  display: none;
}

.main-logo {
  width: 120px;
  height: 40px;
}

.button__primary.login {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header-content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .button-login {
    display: inline-block;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navbar__button-search img {
    width: 25px;
    height: 25px;
  }

  .button__primary.login {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .page__header {
    height: var(--header-height-pc);
  }

  .main-logo {
    width: 180px;
    height: 60px;
  }
}

/* Navigation Styles*/

.navbar__menu {
  opacity: 0;
  position: absolute;
  bottom: -170px;
}

#navbar__list > li {
  color: #000;
}

#navbar__list > li:hover {
  cursor: pointer;
}

.navbar__button-open-menu {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.navbar__button-search {
  width: 30px;
  height: 30px;
}

/* the active state of the navigation dropdown in mobile viewport*/
.visible {
  box-shadow: 0 4px 15px -12px #808080;
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.visible #navbar__list > li {
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: center;
}

.navbar__menu.visible #navbar__list li:hover {
  font-weight: 700;
  text-shadow: 2px 2px 2px #179ecb;
  transition: all ease-in-out 0.2s;
}

/* the active state of the active navigation tab */
.active {
  text-shadow: 2px 2px 2px #179ecb;
}

@media (min-width: 768px) {
  .navbar__menu {
    position: static;
    opacity: 1;
    display: block;
    width: 100%;
  }

  #navbar__list {
    max-width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  #navbar__list > li {
    box-sizing: border-box;
    padding: 0 0.3rem 0.5rem;
    border-bottom: solid 2px transparent;
  }

  #navbar__list > li:hover {
    border-bottom: solid 2px #179ecb;
  }

  .navbar__button-open-menu {
    display: none;
  }

  .active {
    text-shadow: none;
    /* border-bottom: solid 2px #179ecb; */
  }
}

/* Section Styles */

/* Section 1 */
.hero-section {
  height: calc(100vh - var(--header-height-mobile));
}

.hero-section__title {
  font-size: 2.3rem;
  font-weight: 600;
}

.hero-section__desc {
  line-height: 1.8rem;
}

.hero-section .button__primary {
  margin-top: 20px;
}

.hero-section__img {
  display: none;
}

.plane-trail-img {
  position: absolute;
  width: 250px;
  height: auto;
  right: -300px;
  bottom: 30px;
  opacity: 0;
  z-index: -1;
}

.active-section .plane-trail-img {
  opacity: 1;
  right: 0;
  transition: all ease-in-out 0.4s;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-section .content-container {
    display: flex;
    gap: 100px;
    justify-content: space-between;
  }

  .hero-section__title {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
  }

  .hero-section__desc {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  .hero-section .button__primary {
    margin-top: 3rem;
  }

  .hero-section__img {
    display: block;
    width: 400px;
    height: 500px;
  }
}

/* Section 2 */
.section-2 {
  background-color: rgb(44, 172, 220, 0.3);
  padding: 50px 0 80px;
}

@media screen and (min-width: 1024px) {
  .section-2 {
    padding: 50px 100px 100px;
  }
}

.section-2__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
}

.value-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 1024px) {
  .value-card-list {
    gap: 30px;
  }
}

/* Section 3 */

.section-3 {
  height: 100vh;
  display: flex;
}

.section-3__content-container {
  display: flex;
  flex-wrap: wrap;
}

.section-3__title {
  font-size: 1.8rem;
}

.section-3__title p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: initial;
}

.section-3__desc {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

.section-3 .button__primary {
  margin-top: 30px;
}

.section-3__img {
  margin-top: 1rem;
  width: 100%;
  height: 350px;
}

.plane-trail-img.left {
  left: -300px;
  transform: scaleX(-1);
}

.active-section .plane-trail-img.left {
  opacity: 1;
  left: 0;
  transition: all ease-in-out 0.4s;
}

@media screen and (min-width: 1024px) {
  .section-3 {
    justify-content: center;
    align-items: center;
  }

  .section-3__content-container {
    gap: 100px;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 1200px;
  }

  .section-3__text-wrapper {
    max-width: 500px;
  }

  .section-3__title {
    font-size: 2.7rem;
    font-weight: 700;
  }

  .section-3__img {
    margin-top: 0;
    width: 400px;
    height: 550px;
  }
}

/* Section 4 */
.section-4 {
}

.section-4__title {
  text-align: center;
}

.section-4__title p {
  font-size: 1rem;
}

.info-card-container {
  margin-top: 1.5rem;
}

.info-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 1024px) {
  .section-4 {
    height: 100vh;
  }

  .section-4__title {
    font-size: 2.7rem;
    font-weight: 700;
  }

  .info-card-container {
    margin-top: 2.5rem;
  }

  .info-card-list {
    gap: 30px;
    justify-content: center;
  }
}

/* Section 5 */
.section-5 {
  height: 100vh;
}

.section-5__title {
  margin-top: 1rem;
  font-size: 2.7rem;
  font-weight: 700;
}

.section-5__desc {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.section-5 form {
  margin-top: 2rem;
}

.section-5 input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #263b4a;
  padding-left: 10px;
}

.section-5 .button__primary {
  margin-top: 1rem;
}

.section-5__img {
  margin-top: 2rem;
  width: 100%;
  height: 250px;
}

@media screen and (min-width: 1024px) {
  .section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-5 .content-container {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    width: 1000px;
  }

  .section-5__title {
    margin-top: 0;
  }

  .section-5__img {
    width: 550px;
    height: 400px;
  }
}

/* Footer Styles */
.page__footer {
  min-width: 360px;
  padding: 3rem 15px 4rem;
  background-color: #05242e;
  color: #fff;
}

.footer__logo-img {
  width: 100%;
  height: auto;
}

.footer__desc {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.social-media-list {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.social-media-list li img {
  width: 30px;
  height: 30px;
}

.content-container .section + div {
  margin-top: 1.5rem;
}

.page__footer .section h3 {
  font-family: "Bodoni Moda", serif;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.page__footer .section ul li {
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.page__footer footer {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .page__footer {
    padding: 50px 100px;
  }

  .page__footer .content-container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    gap: 2rem;
  }

  .content-container .section + div {
    margin-top: 0;
  }

  .content-container .section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .section ul li {
    font-size: 1.2rem;
    line-height: 3rem;
  }
}
